<% provide(:title, 'Home') %>
<html>
<head>
	<title>Ruby Sample App | <%=yield(:title) %> </title>
</head>
<body>
<h1>Sample App</h1>
	<p> this is a homepage for the 
		<a href="http://railstutorial.org"> Ruby on rails tut</a>
		sample app
	</p>
</body>
</html>